body{
    margin: 0px;
}

#divUser{
    background: aqua;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#father{
    margin-top: 20px;
    background: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid blue ;
    border-radius: 40px;
    padding: 10px;
}

button{
    border: 1px solid blue;
    background: #3a7e7e;
}

button:hover{
    background: #4ca8a8;
}

.button2{
    border-radius: 10px;
    height: 40px;
    width: 90%;
}

#titleUsers{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
}

#title{
    padding: 0px 10px;
    width: 200px;
    height: 120px;
    background: cornflowerblue;
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.button3{
    height: 30px;
    width: 220px;
}

.wrap-post{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.comments{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.post {
    width: 400px;
    padding: 10px 10px;
    background: aqua;
    border: 2px solid blue ;
    border-radius: 20px;
}

.title-comments{
    margin-top: 50px;
    width: 350px;
    border: 1px solid blue;
    border-radius: 5px;
    background: #3a7e7e;
    text-align: center;
}

.comment {
    max-width: 230px;
    padding: 10px;
    background: cornflowerblue;
    border: 2px solid blue;
    border-radius: 5px;
}

.item{
    margin: 3px 0px;
}






